<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Adios <%= @user.full_name %>!</h1>
    <p>Your account with Rotten Mangoes under <%= @user.email %> has been deleted.</p>
    <p>We're sorry to see you go!</p>
    <p>From, Rotten Mangoes team</p>
  </body>
</html>