<div class="movie-thumb">
  <%= link_to image_tag(movie.poster_url(:thumb).to_s), movie_path(movie) %>
  <h4><%= movie.title %></h4>
  <h4><%= movie.review_avg_percent %>%</h4>
  <p>Released <%= formatted_date(movie.release_date) %></p>
</div>