<%= form_tag movies_path, method: "get", class: "navbar-form navbar-left", role: "search"  do %>
  <div class="form-group">
    <%= text_field :search, :keyword, class: "form-control", placeholder: "Title or director" %>
  </div>
  <div class="form-group">
    <%= select :search, :duration, options_for_select(MoviesHelper::DURATION_OPTIONS), { include_blank: "Movie duration" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= submit_tag "Search movies", class: "btn btn-default" %>
  </div>
<% end %>