<h1>List of all users</h1>

<%= link_to "Create new user", new_admin_user_path %>
<%= paginate @users %>
<% @users.each do |user| %>
  <div>
    <p><%= link_to user.full_name, user_path(user) %></p>
    <p><%= user.email %></p>
  </div>
<% end %>